## Name: Paul Onibaba
## Student ID: 66bf0e

In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [128]:
energy_data = pd.read_csv("energydata_complete.csv")
energy_data.head(4)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389

In [129]:
energy_data = energy_data.drop(["date","lights"], axis=1)
energy_data.head(3)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [4]:
# Let us Normalise the dataset!!!
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_energy_data =pd.DataFrame(scaler.fit_transform(energy_data), columns = energy_data.columns)

In [5]:
# Seperate the predictor variables from the predicted variables
predictors = norm_energy_data.drop(["Appliances"], axis=1)
target_variable = norm_energy_data.Appliances

In [68]:
from sklearn.model_selection import train_test_split
x_train1,x_test1,y_train1,y_test1 = train_test_split(predictors, target_variable, test_size=0.3, random_state=42)

In [69]:
from sklearn.linear_model import LinearRegression
regg = LinearRegression()
regg.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
y_pred1 = regg.predict(x_test1)

In [72]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test1,y_pred1)

### Question 6
```What is the Residual Sum of Squares(in two decimal places)```

In [112]:
rss = np.sum(np.square(y_test1-y_pred1))
round(rss,2)

45.35

### Question 8
```What is the coefficient of determination (in two decimal places```

In [113]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test1,y_pred1)
round(r2_score, 2)

0.15

### Question 10
```What is the Mean Absolute Error(in two decimal places)```

In [73]:
round(mae,3)

0.05

### Question 11
```What is the new RMSE with the Lasso Regression(in 3 decimal Places```

In [123]:
y_p = lasso_reg.predict(x_test1)

In [124]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test1,y_p))
round(rmse, 3)

0.094

### Question 17
```What is the Root Mean Squared Error(in three decimal places)```

In [131]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test1,y_pred1))
round(rmse, 3)

0.088

### Question 18
``` From the dataset, fit a linear model on the relationship between the temperature
``` in the living room in celsius (x=T2) and the temperature outside the building(y=T6)
``` What is the R^2 value in 2 D.P```

In [39]:
x = norm_energy_data["T2"]
array = np.array(x)
independent = array.reshape(-1,1)
dependent = norm_energy_data["T6"].values.reshape(-1,1)

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent, test_size=0.3,random_state = 42)

In [61]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
y_pred = reg.predict(x_test)

In [63]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_pred)
round(r2_score, 2)

0.64

In [121]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.5)
ridge_reg.fit(x_train1,y_train1)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [82]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train1,y_train1)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

### Question 4
```Obtain the feature weifhts from your linear model above. which has the lowest and highest weights respectively```

In [100]:
def get_weight_df (regg_model, feat, col_name):
    weights = pd.Series(regg.coef_,feat.columns).sort_values()
    weight_df = pd.DataFrame(weights).reset_index()
    weight_df.columns = ["Features",col_name]
    weight_df[col_name].round(3)
    return weight_df

In [130]:
regg_weights_df = get_weight_df(regg,x_train1,"linear_model_weight")
ridge_weights_df = get_weight_df(ridge_reg,x_train1,"Ridge_weight")
lasso_weights_df = get_weight_df(lasso_reg,x_train1,"Lasso_weight")

final_weight = pd.merge(regg_weights_df,ridge_weights_df, on = "Features")
final_weight = pd.merge(final_weight,lasso_weights_df, on = "Features")
#final_weight[["Ridge_weight"]]

final_weight.sort_values(by="linear_model_weight", ascending=True)

       Features  linear_model_weight  Ridge_weight  Lasso_weight
0          RH_2            -0.456698     -0.456698     -0.456698
1         T_out            -0.321860     -0.321860     -0.321860
2            T2            -0.236178     -0.236178     -0.236178
3            T9            -0.189941     -0.189941     -0.189941
4          RH_8            -0.157595     -0.157595     -0.157595
5        RH_out            -0.077671     -0.077671     -0.077671
6          RH_7            -0.044614     -0.044614     -0.044614
7          RH_9            -0.039800     -0.039800     -0.039800
8            T5            -0.015657     -0.015657     -0.015657
9            T1            -0.003281     -0.003281     -0.003281
10          rv2             0.000770      0.000770      0.000770
11          rv1             0.000770      0.000770      0.000770
12  Press_mm_hg             0.006839      0.006839      0.006839
13           T7             0.010319      0.010319      0.010319
14   Visibility             0.012307      0.012307      0.012307
15         RH_5             0.016006      0.016006      0.016006
16         RH_4             0.026386      0.026386      0.026386
17           T4             0.028981      0.028981      0.028981
18    Windspeed             0.029183      0.029183      0.029183
19         RH_6             0.038049      0.038049      0.038049
20         RH_3             0.096048      0.096048      0.096048
21           T8             0.101995      0.101995      0.101995
22    Tdewpoint             0.117758      0.117758      0.117758
23           T6             0.236425      0.236425      0.236425
24           T3             0.290627      0.290627      0.290627
25         RH_1             0.553547      0.553547      0.553547

### Question 13
```Train a ride regression model with an alpha 0.4. is there any chance to the root mean squarred error(RMSE) when evaluated on the test set```

In [133]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train1,y_train1)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [134]:
def get_weight_df (regg_model, feat, col_name):
    weights = pd.Series(regg.coef_,feat.columns).sort_values()
    weight_df = pd.DataFrame(weights).reset_index()
    weight_df.columns = ["Features",col_name]
    weight_df[col_name].round(3)
    return weight_df

In [135]:
regg_weights_df = get_weight_df(regg,x_train1,"linear_model_weight")
ridge_weights_df = get_weight_df(ridge_reg,x_train1,"Ridge_weight")
lasso_weights_df = get_weight_df(lasso_reg,x_train1,"Lasso_weight")

final_weight = pd.merge(regg_weights_df,ridge_weights_df, on = "Features")
final_weight = pd.merge(final_weight,lasso_weights_df, on = "Features")
final_weight[["Ridge_weight"]]

    Ridge_weight
0      -0.456698
1      -0.321860
2      -0.236178
3      -0.189941
4      -0.157595
5      -0.077671
6      -0.044614
7      -0.039800
8      -0.015657
9      -0.003281
10      0.000770
11      0.000770
12      0.006839
13      0.010319
14      0.012307
15      0.016006
16      0.026386
17      0.028981
18      0.029183
19      0.038049
20      0.096048
21      0.101995
22      0.117758
23      0.236425
24      0.290627
25      0.553547