# Quiz Code

## Name: Paul Onibaba 
## Student ID: 66bf0e

In [2]:
#importing both numpyand pandas to myjupiter notebook
import numpy as np
import pandas as pd

## Question 1
```How do you create an identity matrix in python```

In [3]:
# You create that by using the dataframe.identity() function
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
# Reading the dataset to work with
data = pd.read_csv("p_util_Data.csv")
data.head(3)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650

## Question 2
```The feature with missing values falls under what category? What missing value imputation technique would you use```

The missing values could be found under the "fuel_unit" feature which is not in numbers but in strings which were categorized. Owing to this, the Mode computation will be used.

In [5]:
data.groupby("fuel_unit")["fuel_unit"].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

## Question 3
```Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned```

In [6]:
# since the question was to correlate all the features with fuel cost per unit burned 
# then i had to use the spearman's correlation viewing the dataset as a non normal distribution 
# and sorting it with the dependent variable "fuel cost per unit burned" 
cor = data.loc[:,["fuel_cost_per_unit_burned","fuel_qty_burned","report_year","utility_id_ferc1",
                  "fuel_mmbtu_per_unit","fuel_cost_per_unit_delivered","fuel_cost_per_mmbtu"]
              ].corr("spearman").sort_values("fuel_cost_per_unit_burned", ascending=True)
cor

,fuel_cost_per_unit_burned,fuel_qty_burned,report_year,utility_id_ferc1,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_qty_burned,-0.390275,1.000000,-0.077383,-0.049794,0.088374,-0.257279,-0.540417
utility_id_ferc1,-0.074844,-0.049794,0.067659,1.000000,-0.095919,-0.068846,-0.017177
report_year,0.233647,-0.077383,1.000000,0.067659,-0.041444,0.178867,0.378130
fuel_cost_per_mmbtu,0.318533,-0.540417,0.378130,-0.017177,-0.280657,0.221548,1.000000
fuel_mmbtu_per_unit,0.557998,0.088374,-0.041444,-0.095919,1.000000,0.494841,-0.280657
fuel_cost_per_unit_delivered,0.760263,-0.257279,0.178867,-0.068846,0.494841,1.000000,0.221548
fuel_cost_per_unit_burned,1.000000,-0.390275,0.233647,-0.074844,0.557998,0.760263,0.318533

In [8]:
# i called out second and third lowest correlation with the fuel cost per unit burned and printed it
print("the second and third lowest correlation to Fuel cost per unit burned are:\n", cor.iloc[[1,2],0])

the second and third lowest correlation to Fuel cost per unit burned are:
 utility_id_ferc1   -0.074844
report_year         0.233647
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4
```For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994```

In [9]:
# i grouped the sum of each fuel cost per unit burned based on report year and fueltype
coal_change = data.groupby(["report_year","fuel_type_code_pudl"])[["fuel_cost_per_unit_burned"]].sum()
coal_change

                                 fuel_cost_per_unit_burned
report_year fuel_type_code_pudl
1994        coal                                 14984.572
            gas                                  10792.496
            nuclear                             227983.354
            oil                                   9362.194
            other                                  116.737
...                                                    ...
2018        coal                                  9488.197
            gas                                   4322.494
            nuclear                             173267.161
            oil                                  33836.602
            waste                                  660.972

[148 rows x 1 columns]

In [11]:
# called out two years in question and assigned an identifier to it
year_1998 = coal_change.loc[1998,"coal"]
year_1994 = coal_change.loc[1994,"coal"]

# applied the pct_change()function and multiplied by 100
data_coal_1998_1994 = year_1994.append(year_1998)
pct_1998_1994 =(data_coal_1998_1994.pct_change())*100

#rounded up the output to an integer
print(round(pct_1998_1994.iloc[1]))

-21.0

## Question 5
```Which year has the highest average fuel cost per unit delivered```

In [12]:
# group the fuel cost per unit delivered by the report year and applied the .mean() function sorting the output value 
# in increasing order
Hi_fuelcost_perdel = data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().sort_values(ascending=False)

# printed the first year in the order which happend to be the highest average 
print("the year with the highest average fuel cost per unit delivered is: \n", Hi_fuelcost_perdel[:1])

the year with the highest average fuel cost per unit delivered is:
 report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

## Question 6
```What is the standard deviation and 75th percentile of the measure of energy per unit (fuel_mmbtu_per_unit)```

In [13]:
# Applied the .std() and .quantile() function calling out Fuel mmbtu per unit feature from the dataset
std_mmbtu_unit = data["fuel_mmbtu_per_unit"].std()
per_75th_mmbtu = data["fuel_mmbtu_per_unit"].quantile(0.75)

#formatted my printing
print("the standard deviation and 75th percentile of The measure of Energy per unit are : \n %.2f and %.2f respectively" 
      % (std_mmbtu_unit, per_75th_mmbtu))

the standard deviation and 75th percentile of The measure of Energy per unit are :
 10.60 and 17.01 respectively

## Question 7
```what is the skewness and kurtosis for the fuel quantity burned in two decimal places```

In [14]:
# Applied the .skew() and .kurt() function calling out the Fuel quantity burned feature from the dataset
skew_fuel_qburned = data["fuel_qty_burned"].skew()
kurt_fuel_qburned = data["fuel_qty_burned"].kurt()
print("the skewness and kurtosis of The fuel quantity burned are : \n %.2f and %.2f respectively" 
      % (skew_fuel_qburned, kurt_fuel_qburned))

the skewness and kurtosis of The fuel quantity burned are :
 15.85 and 651.37 respectively

## Question 8
```Which feature has missing values and what is the total number of missing value and percentage of missing rows as a factor of the total number of rows in three decimal places```

In [15]:
# find the total missing values of each feature in the dataset
missing_val = data.isnull().sum()

# selecting the total missing value of the feature with missing value
total_missing_value = missing_val.iloc[5]

# count the remaining filled values in the feature where missing value is found
total_filled_value = data.groupby("fuel_unit")["fuel_unit"].count().sum()

# get the total or expected values to be filled by adding the missing value with the filled value
total_expected_value_funit = total_missing_value + total_filled_value 

#find the percentage of the missing value
percentage_missing = ((total_missing_value/total_expected_value_funit)*100)

print(missing_val, "\n")
print("Feature : Fuel unit \n")
print("Total:%d \n" % total_missing_value)
print("Percent: %.3f" % percentage_missing)

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

Feature : Fuel unit

Total:180

Percent: 0.610

## Question 9
``which of the following fuel type code has the lowest average fuel cost per unit burned```

In [16]:
# grouped the fuel cost per unit urned by fuel type and applied the .mean() to find the average
# and also sorting the value in ascending order printing only the lowest fuel type wis is gas

print(data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().sort_values(ascending=True)[:1])

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 10
``` If you're given two lists: A= [1,2,3,4,5,6], B= [13,21,34]
The task is to create a list with the elements of A and B in a single dimension with output:
A_B= [1,2,3,4,5,6,13,21,34].
Which of the following option is the best way to create the list```

In [17]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B = A.extend(B)
print(A_B)

None

In [18]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B = A.append(B)
print(A_B)

None

##### for  question 10, having tried the ".append() and a.extend(), therefore, i concluded that the answer is'nt in the options given